# System files
# ------------

._*
Icon
.DS_Store
._.DS_Store
*Zone.Identifier

# Dev folders
# ---------------
/node_modules
/node-modules/*
/.vscode

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------
.lock

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

.cache
/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license

.parcel-cache

/kirby
/vendor
/site/plugins/markdown-field