.game-list {
  margin: auto;
  padding: var(--space);

  >p {
    text-align: center;

  }

  h2 {
    text-align: center;
    margin-bottom: var(--space);
  }
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--content-width-small), 1fr));
  justify-items: center;
  gap: var(--space-small);
}

.game-card {
  display: flex;
  flex-flow: column;
  gap: var(--space-small);
  max-width: calc(var(--content-width-small) * 2);
}

.game-card img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.game-card ul li {
  color: white;
}

.game-card__content {
  padding: var(--space-small);
}

.game-card a {
  color: white;
}

.game-card h1,
.game-card h2,
.game-card h3,
.game-card h4 {
  color: white;
}

.game-card-link {
  float: right;
  padding: var(--space-small);
}