.header {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  background-color: var(--headerbg);
  padding: 0 calc(var(--space) / 2);

  &__left,
  &__center,
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left {
    .logo {
      height: 40px;
      width: 40px;
    }
    @media screen and (min-width: 520px) {
      .logo {
        height: 80px;
        width: 80px;
      }
    }
  }

  &__center ul,
  &__center li {
    margin: 0;
    padding: 0;
  }
  &__center ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;

    @media screen and (min-width: 420px) {
      flex-flow: row wrap;
    }
  }

  &__center a {
    padding: 0 10px;
    @media screen and (max-width: 480px) {
      padding: 0;
    }
  }
}

.main {
  margin: 0 auto;
  padding: 1.5vw 15px 0;
}

.footer {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  padding: calc(var(--space) / 2);
  text-align: center;
  font-size: 0.8em;

  > span {
    margin: 0 0.35em;
  }

  a {
    color: currentColor;
  }
}
.logo {
  text-decoration: none;
  color: var(--body-color) !important;
  font-size: 0.9em;
  margin: 10px;

  &__image {
    vertical-align: middle;
    // border-radius: 99px;
    height: 40px;
    width: 40px;
    margin-right: 0.5em;
  }
}

.readmore {
  border: 1px solid var(--brand);

  text-decoration: none;
  padding: 10px 15px;
}

.navbar {
  a {
    color: var(--body-color) !important;
    font-size: 0.9em;
    margin: 10px;
    text-decoration: none;
  }
}

.home-grid {
  display: grid;
  max-width: 960px;
  margin: auto;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  @media (max-width: 520px) {
    grid-template-columns: 1fr;
  }
}

.author {
  min-height: 250px;
}

.author-pic {
  width: 33%;
  float: left;
  margin: 0 20px 20px 0;

  img {
    width: 100%;
  }
}
