.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: var(--space);
}

.toggle-theme {
  background-color: transparent;
  border: 0;
  color: var(--brand);
  cursor: pointer;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;

  @media (max-width: 520px) {
    height: 60px;
    width: 60px;
  }

  &:hover {
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
}

.center-text {
  text-align: center;
}

.hide {
  visibility: hidden;
  height: 0;
  width: 0;
}
