@import "https://fonts.googleapis.com/css?family=Lato|Raleway:800";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  --base-font-size: 20px;
}

:root {
  --brand: #ee3030;
  --brand-3AM: #d41680;
  --bg-color: #fbfbfb;
  --bg-content-color: #fff;
  --bg-code: #fffbf3;
  --body-color: #444;
  --title-color: #222;
  --link-color: var(--brand);
  --border-color: rgba(0, 0, 0, .1);
  --space: 3.5rem;
  --space-small: .6rem;
  --content-width: 860px;
  --content-width-small: 300px;
  --header-height: 80px;
  --radius: 5px;
  --blend: lighten;
  --headerbg: rgba(255, 255, 255, .6);
}

@media screen and (max-width: 650px) {
  html {
    --base-font-size: 17px;
  }

  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}

body[theme="dark"] {
  --bg-color: #111;
  --bg-content-color: #212121;
  --bg-code: rgba(0, 0, 0, .3);
  --border-color: rgba(255, 255, 255, .1);
  --body-color: #ced8de;
  --title-color: #fff;
  --link-color: var(--brand);
  --blend: darken;
  --headerbg: rgba(0, 0, 0, .6);
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: Lato, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.45;
}

p {
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  color: var(--title-color);
  margin: 2.75rem 0 1rem;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.15;
  transition: color .6s;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small {
  font-size: .889rem;
}

strong {
  font-weight: 600;
}

blockquote {
  border-left: 4px solid var(--border-color);
  padding-left: calc(var(--space) / 2);
  color: var(--title-color);
}

em {
  font-style: italic;
}

ul {
  color: var(--link-color);
  margin-bottom: 1.25em;
  margin-left: 1.25em;
  list-style: square;
}

ul li {
  margin-bottom: .6em;
}

ol {
  color: var(--link-color);
  margin-bottom: 1.25em;
  margin-left: 1.25em;
  list-style: square;
}

ol li {
  margin-bottom: .6em;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.video > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  transition: color .6s, background-color .6s;
}

a:not(.button) {
  color: var(--link-color);
  transition: opacity .2s;
}

a:not(.button):hover {
  opacity: .8;
}

img {
  max-width: 100%;
}

button {
  border: 2px solid var(--brand);
  background: var(--brand);
  color: #fff;
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
}

.content-box {
  background-color: var(--bg-content-color);
  max-width: var(--content-width);
  padding: var(--space);
  margin: 0 auto;
  transition: transform .3s, background-color .3s, box-shadow .6s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .02), 1px 1px 15px rgba(0, 0, 0, .03);
}

.content-box--small {
  max-width: var(--content-width-small);
  width: 100%;
  padding: var(--space-small);
  margin: 0 var(--space-small);
  overflow: hidden;
}

@media (max-width: 520px) {
  .content-box--small {
    max-width: none;
  }
}

.posts {
  flex-flow: wrap;
  justify-content: center;
  display: flex;
}

.toggle-theme {
  color: var(--brand);
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 520px) {
  .toggle-theme {
    height: 60px;
    width: 60px;
  }
}

.toggle-theme:hover {
  opacity: .8;
}

.post-meta {
  opacity: .8;
  font-size: .8em;
}

.post-title {
  padding: calc(var(--space) / 2) 0 calc(var(--space) / 2);
  text-align: center;
}

.post-title h1 {
  color: var(--brand);
  text-transform: uppercase;
}

.post__header {
  width: calc(100% + var(--space) * 2);
  margin-left: calc(var(--space) * -1);
  margin-top: calc(var(--space) * -1);
  margin-bottom: calc(var(--space) / 2);
  background-color: var(--brand);
  height: 430px;
  overflow: hidden;
}

.post__header img {
  width: 100%;
  -webkit-filter: grayscale() contrast(1.2);
  filter: grayscale() contrast();
  mix-blend-mode: var(--blend);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.post figure {
  text-align: center;
  margin: 0 0 1.25em;
}

.post-card {
  margin-bottom: var(--space);
  background-color: var(--brand);
  color: #fff;
  transition: all .3s ease-in-out;
  position: relative;
}

.post-card__header {
  margin-left: calc(var(--space) * -1);
  margin-right: calc(var(--space) * -1);
  margin-bottom: calc(var(--space) / 2);
  margin-top: calc(var(--space) * -1);
  overflow: hidden;
}

.post-card__header:empty {
  display: none;
}

.post-card img {
  width: 100%;
}

.post-card .blend {
  -webkit-filter: grayscale() contrast(1.2);
  filter: grayscale() contrast();
  mix-blend-mode: var(--blend);
}

.post-card__title {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 1px 10px 30px rgba(0, 0, 0, .1);
}

.post-card__link {
  width: 100%;
  height: 100%;
  opacity: 0;
  text-indent: -9999px;
  z-index: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.post-card--no-margin {
  height: 100%;
  margin: 0;
}

.post-card--patreon {
  align-items: center;
  padding: 0;
  display: flex;
}

.post-card--patreon a {
  display: block;
}

.post-card--patreon svg {
  width: 100%;
  padding: 0 10px;
}

.post-card--patreon .post-card__content {
  text-align: center;
  margin: auto;
  padding: 10px;
}

.header {
  background-color: var(--headerbg);
  padding: 0 calc(var(--space) / 2);
  justify-content: space-between;
  font-family: Raleway, sans-serif;
  display: flex;
}

.header__left, .header__center, .header__right {
  justify-content: center;
  align-items: center;
  display: flex;
}

.header__left .logo {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 520px) {
  .header__left .logo {
    height: 80px;
    width: 80px;
  }
}

.header__center ul, .header__center li {
  margin: 0;
  padding: 0;
}

.header__center ul {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
}

@media screen and (min-width: 420px) {
  .header__center ul {
    flex-flow: wrap;
  }
}

.header__center a {
  padding: 0 10px;
}

@media screen and (max-width: 480px) {
  .header__center a {
    padding: 0;
  }
}

.footer {
  padding: calc(var(--space) / 2);
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  display: flex;
}

.footer a {
  color: currentColor;
}

.footer__sponsor {
  flex-flow: column;
  padding: 20px;
  display: flex;
}

.footer__sponsor svg {
  fill: var(--title-color);
}

.logo, .navbar a {
  margin: 10px;
  font-size: .9em;
  text-decoration: none;
  color: var(--body-color) !important;
}

.home-grid {
  max-width: 960px;
  grid-gap: 20px;
  grid-template-areas: "podcast article"
                       "patreon article";
  margin: auto;
  display: grid;
}

@media (max-width: 520px) {
  .home-grid {
    grid-template-areas: "podcast"
                         "article"
                         "patreon";
  }
}

.home-patreon {
  grid-area: patreon;
}

.home-podcast {
  grid-area: podcast;
}

.home-article {
  grid-area: article;
}

.content-box--no-padding {
  padding: 0;
}

.pagination {
  max-width: var(--content-width);
  margin: 0 auto var(--space) auto;
  flex-flow: row;
  justify-content: space-evenly;
  display: flex;
}

.show-title {
  text-align: center;
}

.podcasts-listing {
  text-align: center;
  margin-bottom: 40px;
}

.author-bio {
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  display: flex;
}

.author-bio > * {
  flex-grow: 1;
  flex-basis: calc(29970rem - 99900%);
}

.author-bio > :nth-last-child(n+3), .author-bio > :nth-last-child(n+3) ~ * {
  flex-basis: 100%;
}

.author-bio img {
  width: 100%;
  object-fit: contain;
}

.articles-categories {
  margin-left: 0;
  margin-bottom: var(--space);
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: Raleway, sans-serif;
  list-style-type: none;
  display: flex;
}

.articles-categories a {
  padding: var(--space-small);
  text-transform: capitalize;
  text-decoration: none;
  color: #000 !important;
}

.podcast-box {
  background-color: var(--bg-content-color);
  max-width: var(--content-width);
  margin: 0 auto;
  transition: transform .3s, background-color .3s, box-shadow .6s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .02), 1px 1px 15px rgba(0, 0, 0, .03);
}

@media (max-width: 862px) {
  .podcast-box {
    max-width: 430px;
    width: 100%;
  }
}

.player-wrapper {
  min-height: 430px;
  grid-template: ". ." 1fr
                 "progress progress" 6px
                 / 1fr 1fr;
  display: grid;
}

@media (max-width: 862px) {
  .player-wrapper {
    min-height: 430px;
    max-width: 430px;
    grid-template: "." 1fr
                   "progress"
                   "."
                   / 1fr;
  }
}

.player__left-block {
  width: 100%;
  height: 100%;
  background-color: var(--brand);
  position: relative;
}

@media (max-width: 862px) {
  .player__left-block {
    min-height: 430px;
  }
}

.player__right-block {
  padding: 50px;
}

.player-controls {
  width: 100%;
  height: 100%;
  z-index: 1;
  grid-template: ". . . . vol" 1fr
                 ". center center center vol" 2fr
                 ". dleft dmid dright vol" 1fr
                 / 40px 2fr 2fr 2fr 40px;
  display: grid;
  position: absolute;
}

.player-controls__play-time {
  flex-flow: column;
  grid-area: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.player-controls__play-button {
  height: 100px;
  width: 100px;
  border: 6px solid var(--body-color);
  color: var(--body-color);
  background: none;
  border-radius: 100%;
  box-shadow: 0 3px 6px #444;
}

.player-controls__navigation-button {
  height: 50px;
  width: 50px;
  color: var(--body-color);
  text-align: center;
  background: none;
  border: rgba(0, 0, 0, 0);
  justify-content: center;
  align-self: center;
  justify-self: center;
  align-items: center;
  display: flex;
}

.player-controls__navigation-button--left {
  grid-area: dleft;
}

.player-controls__navigation-button--right {
  grid-area: dright;
}

.player-controls__speed-button {
  height: 50px;
  color: var(--body-color);
  font-size: inherit;
  background: none;
  border: none;
  grid-area: dmid;
  align-self: center;
  padding: 0;
}

.player-controls__play-button:focus {
  background: rgba(0, 0, 0, .5);
  border-radius: 100%;
  outline: none;
}

.player-controls__time {
  letter-spacing: -1px;
  font-weight: 100;
}

.podcast-banner {
  filter: grayscale() contrast();
  mix-blend-mode: var(--blend);
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.accessi {
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  white-space: nowrap !important;
  border: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
}

.play-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent var(--body-color);
  cursor: pointer;
  margin: auto;
}

.pause-icon {
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 15px;
  border-color: var(--body-color);
  border-style: double;
  border-width: 0 0 0 15px;
  border-color: var(--body-color);
  cursor: pointer;
  margin: auto;
}

.back-icon {
  height: 20px;
  width: 20px;
  border: 10px solid var(--body-color);
  border-width: 0 0 6px 6px;
  transform: rotate(45deg);
}

.forward-icon {
  height: 20px;
  width: 20px;
  border: 10px solid var(--body-color);
  border-width: 6px 6px 0 0;
  transform: rotate(45deg);
}

.player-controls__volume {
  flex-flow: column-reverse;
  grid-area: vol;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: -1px;
  display: flex;
}

.player-controls__volume input ~ label {
  width: 8px;
  border-right: 8px solid var(--brand);
  flex: auto;
  margin: 0;
  padding-left: 40px;
  display: flex;
}

.player-controls__volume input ~ label:hover, .player-controls__volume input:checked ~ label:hover {
  cursor: pointer;
  border-right: 8px solid #eee;
}

.player-controls__volume label {
  height: 10px;
  width: 10px;
}

.player-controls__volume input:checked ~ label {
  border-right: 8px solid #ddd;
}

.player-controls__volume input:checked + label {
  border-right: 8px solid #888;
}

progress {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  grid-area: progress;
  display: block;
}

progress[value] {
  cursor: pointer;
  height: 6px;
  width: 100%;
  background: var(--body-color);
  border: rgba(0, 0, 0, 0);
}

progress[value]::-moz-progress-bar, progress[value]::-webkit-progress-bar {
  width: 100%;
  cursor: pointer;
  background: var(--brand);
  border: 0;
}

progress[value]::-webkit-progress-value {
  background: var(--brand);
  vertical-align: 0;
}

.game-list {
  padding: var(--space);
  margin: auto;
}

.game-list > p {
  text-align: center;
}

.game-list h2 {
  text-align: center;
  margin-bottom: var(--space);
}

.game-container {
  grid-template-columns: repeat(auto-fit, minmax(var(--content-width-small), 1fr) );
  justify-items: center;
  gap: var(--space-small);
  display: grid;
}

.game-card {
  gap: var(--space-small);
  max-width: calc(var(--content-width-small) * 2);
  flex-flow: column;
  display: flex;
}

.game-card img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.game-card ul li {
  color: #fff;
}

.game-card__content {
  padding: var(--space-small);
}

.game-card a, .game-card h1, .game-card h2, .game-card h3, .game-card h4 {
  color: #fff;
}

.game-card-link {
  float: right;
  padding: var(--space-small);
}

/*# sourceMappingURL=index.css.map */
